/* 상단 bar  */
* {
  margin: 10px;
  margin-top: 0px;
  padding: 0;
  background-color: white;
}
.nav-container {
  background-color: white;
  list-style: none;
}
.nav-item {
  padding: 0px;
  cursor: pointer;
}
.nav-item:hover {
  border: 1px black;
}
.nav-item a {
  text-align: right;
  text-decoration: none;
  color: black;
}
a:hover {
  border: 1px solid black;
}

.contain_a {
  display: flex;
  flex-flow: row-reverse;
  text-transform: uppercase;
}

/* 콘텐츠 */
css-indexWrap {
  display: flex;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background: #000;
  flex-direction: row;
}
